<a href="https://colab.research.google.com/github/ElykelwinCosta/mapear_autuacoes_ibama/blob/main/mapear_autuacoes_ibama.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
'''
O objetivo deste programa é criar um mapa que demonstre as autuações 
feitas pelo IBAMA por crimes ambientáis no Brasil.

Referências:
https://github.com/sandeco/CanalSandeco/blob/master/covid-19/Brasil%20IO%20-%20Comparando%20Estados.ipynb
https://www.youtube.com/watch?v=rckzwVBe7gk
https://www.achadosepedidos.org.br/pedidos/autuacoes-ambientais-204934

'''

import pandas as pd
import numpy as np

url = '/content/Database/17012020_17122020.csv'
df = pd.read_csv(url)

data = df[['SIG_UF', 'BIOMA']]
data

     SIG_UF               BIOMA
0        RR            Amazonia
1        SP      Mata Atlantica
2        CE  Costeiro e Marinho
3        GO            Amazonia
4        RS               Pampa
...     ...                 ...
9052     CE            Caatinga
9053     MT             Cerrado
9054     MG             Cerrado
9055     CE  Costeiro e Marinho
9056     PB            Amazonia

[9057 rows x 2 columns]